<!-- The side social slider menu -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="wrapper">
<ul>
	<li class="facebook">
		<i class="fa fa-facebook" aria-hidden="true"></i>
		<div class="slider">
			<p>facebook</p>
		</div>
	</li>
	<li class="twitter">
		<i class="fa fa-twitter" aria-hidden="true"></i>
		<div class="slider">
			<p>twitter</p>
		</div>
	</li>
	<li class="instagram">
		<i class="fa fa-instagram" aria-hidden="true"></i>
		<div class="slider">
			<p>instagram</p>
		</div>
	</li>
	<li class="google">
		<i class="fa fa-google" aria-hidden="true"></i>
		<div class="slider">
			<p>google</p>
		</div>
	</li>
	<li class="pinterest">
		<i class="fa fa-pinterest" aria-hidden="true"></i>
		<div class="slider">
			<p>pinterest</p>
		</div>
	</li>
</ul>
</div>

<!-- The bottom footer -->
<footer>

  <div class="email">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-xs-12 text-center">
                              <h6 class="shaded">Receive updates when new art is available.</h6>

                <form action="" method="post">
                  <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                    <input type="text" id="email-address" name="" placeholder="Enter your email adress...">
                  </div>
                  <br />
                  <button mat-raised-button color="accent" type="submit">Submit</button>
                </form>
            </div>
          </div>

        </div>
      </div>

      <div class="footer-top">
         <div class="container">
            <div class="social-icons">
            <i class="icon fa fa-twitter"></i>
            <i class="icon fa fa-facebook"></i>
            <i class="icon fa fa-google-plus"></i>
            <i class="icon fa fa-instagram"></i>
            <i class="icon fa fa-pinterest"></i>
            <i class="icon fa fa-youtube-play"></i>
           </div>
         </div>
      </div>

<!-- Copyright -->

      <div class="footer-bottom">
          <p>©Alan Markov 2018. All right reserved.</p>
      </div>
</footer>
