
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="wrapper">
<ul>
	<li class="facebook">
		<i class="fa fa-facebook" aria-hidden="true"></i>
		<div class="slider">
			<p>facebook</p>
		</div>
	</li>
	<li class="twitter">
		<i class="fa fa-twitter" aria-hidden="true"></i>
		<div class="slider">
			<p>twitter</p>
		</div>
	</li>
	<li class="instagram">
		<i class="fa fa-instagram" aria-hidden="true"></i>
		<div class="slider">
			<p>instagram</p>
		</div>
	</li>
	<li class="google">
		<i class="fa fa-google" aria-hidden="true"></i>
		<div class="slider">
			<p>google</p>
		</div>
	</li>
	<li class="pinterest">
		<i class="fa fa-pinterest" aria-hidden="true"></i>
		<div class="slider">
			<p>pinterest</p>
		</div>
	</li>
</ul>
</div>

