
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h4>{{title}}</h4>
  <h5>{{content}}</h5>
  <hr>

  <div class="block">
          <div class="imgContainer">
          <img src="{{image}}" alt="">
          </div>

           <div class="text" >
              <p > Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Provident perspiciatis molestias tempora labore unde pariatur
                  ratione commodi officia nobis accusantium rerum enim molestiae,
                  minima iste deleniti laboriosam neque libero facere.</p>

                  <button mat-button color="accent" >Purchase</button>
           </div>
  </div>


