mat-spinner {
  margin: auto;
}

.img-container {
  margin-left: 10%;
  margin-top: 0.4rem;
}
img {
  max-width: 70%;
}

h4 {
 text-align: center;
 margin-top: 1rem;
 color: rgb(54, 57, 75);
}
h5 {
  text-align: center;
  color: rgb(72, 74, 80);
 }

 hr {
   width: 80%;
 }

.block {
  display: flex;
  margin-bottom: 5rem;
}

 .text {
   margin-right: 20%;
   margin-top: 10%;
 }
